.header {
  padding: 30px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  gap: 30px 0;
  flex-wrap: wrap;
  align-content: center;
}

.header__logo {
  margin-right: 41px;
}

.header__catalog {
  margin-right: 16px;
}

.catalog__link {
  padding: 14px 30px 15px 55px;
  border-radius: 5px;
  background-color: #F188F2;
  color: #fff;
  font-weight: 600;
  position: relative;
  transition: all .3s ease;
  
}

.catalog__link:hover {
  background-color: #C949CA;
}

.catalog__link::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url('../svg/catalog.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
  left: 30px;
}

.header__form {
  flex-grow: 1;
  max-width: 443px;
  position: relative;
  margin-right: 60px;
}

.header__input {
  width: 100%;
  padding: 16px 18px 16px 38px;
  border-radius: 9px;
  border: 2px solid #A9A9A9;
  outline: none;
}

.header__input-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  top: 16px;
  left: 18px;
}

.catalog__box {
  display: none;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__list-item + .menu__list-item {
  margin-left: 40px;
}

.submenu {
  margin-right: 73px;
}

.submenu__list {
  display: flex;
}

.submenu__list-item {
  margin-right: 40px;
}

.submenu__list-item:last-child {
  margin-right: 0;
}

.menu__list-link {
  font-weight: 500;
  color: #000;
  transition: all .3s ease;
}

.menu__list-link:hover {
  color: #FC42FF;
  text-shadow: 0 0 #FC42FF;
}

.header__contacts {
  display: flex;
  align-items: center;
}

.header__contacts-link {
  position: relative;
  padding-left: 21px;
  margin-right: 25px;
  font-weight: 600;
}

.header__contacts-link::before {
  content: '';
  position: absolute;
  width: 11px;
  height: 5px;
  left: 0;
  top: 6px;
  background-image: url('../svg/arrow-dwn.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__contacts-social {
  display: flex;
  gap: 0 15px;
}

.working__mode {
  margin-left: 40px;
}

.working__mode-text {
  font-size: 12px;
  font-weight: 500;
}

.working__mode-description {
  font-size: 14px;
  font-weight: 600;
}

.main__banner {
  background: #A1E2EB;
  background-image: url('../images/banner-bg.png');
  background-repeat: no-repeat;
  background-size: 900px 600px;
  background-position: center right;
}

.main__banner-inner {
  padding: 130px 0 139px;
  max-width: 700px;
}

.title {
  font-size: 80px;
  line-height: 1.3;
  color: #fff;
  margin-bottom: 60px;
}

.title__text {
  font-size: 63px;
  line-height: 1.3;
  display: block;
}

.banner-link__box {
  display: flex;
  align-items: center;
  gap: 0 40px;
  font-weight: 700;
  font-size: 25px;
}

.box__action {
  padding: 25px 50px;
  background-color: #fff;
  border-radius: 13px;
}

.box__more {
  color: #fff;
  padding: 25px 50px;
  border-radius: 13px;
  border: 2px solid #FFFFFF;
}

.popular__category {
  padding: 39px 0;
}

.subtitle {
  font-size: 40px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.subtitle__more {
  font-size: 16px;
  font-weight: 400;
  padding-right: 20px;
  position: relative;
}

.subtitle__more::after {
  content: '';
  position: absolute;
  width: 13px;
  height: 13px;
  right: 0;
  top: 4px;
  background-image: url('../svg/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px;
}

.category__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 58px 32px;
}

.category__item-link {
  margin-bottom: 20px;
  display: block;
  border-radius: 21px;
}

.category__item-description {
  font-size: 18px;
  color: #000;
  line-height: 1.3;
  font-weight: 600;
}

.leaders {
  margin-bottom: 40px;
}

.leaders__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 58px 32px;
}

.leaders__box {
  display: flex;
  align-items: center;
  gap: 0 30px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  max-width: 253px;
  margin: 0 auto 10px;
}

.leaders__box-price {
  font-size: 30px;
  font-weight: 600;
}

.leaders__box-oldprice {
  color: #8B8B8B;
  font-size: 20px;
  font-weight: 500;
  text-decoration: line-through;
}

.discount {
  color: #FF32A1;
  font-weight: 600;
  font-size: 20px;
}

.leaders__box-title {
  font-weight: 500;
  font-size: 16px;
  color: #3A3A3A;
  max-width: 253px;
  margin: 0 auto;
}

.form {
  padding-top: 76px; 
  position: relative;
}

.form::before {
  content: '';
  position: absolute;
  width: 700px;
  height: 550px;
  background-image: url('../images/sale.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 0;
  top: 0;
}

.form__inner {

  padding: 45px 0;
  background: linear-gradient(262.69deg, #CA4ACB -0.43%, #F088F2 104.36%);
}

.form__box-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  
}

.flex-container {
  margin-right: 122px;
  position: relative;
  z-index: 50;
}

.form__box {
  max-width: 473px;
  display: flex;
  flex-direction: column;
}

.form__title {
  font-size: 90px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 46px;
}

.form__title-text {
  display: block;
  font-size: 42px;
}

.form__box-input {
  
  height: 75px;
  border-radius: 25px;
  border: none;
  padding: 25px 50px;
  font-size: 18px;
  line-height: 1.2;
  color: #6C6C6C;
  font-weight: 600;
  outline: none;
  margin-bottom: 30px;
}

.form__box-btn {
  display: block;
  background: transparent;
  border-radius: 25px;
  border: 2px solid #FFFFFF;
  height: 75px;
  font-weight: 700;
  font-size: 29px;
  color: #fff;
}

.product {
  padding: 40px 0;
}

.slider-img {
  display: block;
  margin: 0 auto;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}

.prev-arrow {
  left: 0px;
}

.next-arrow {
  right: 0;
}

.footer {
  padding-bottom: 48px;
}

.footer__inner {
  display: flex;
}

.footer-social {
  max-width: 579px;
  margin-right: 232px;
}

.footer__contacts-social {
  display: flex;
  align-items: center;
  gap: 0 63px;
}

.footer__link {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto 8px;
}

.footer-tel {
  display: inline-block;
  font-weight: 600;
  font-size: 70px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.footer__address {
  max-width: 472px;
}

.address__text {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.list__text {
  display: block;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.3; 
}

.footer-working__mode {
  margin-left: 0;
}



